.wrapperForStages{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.titleForStages{

}

.listForStages{

}

.pointOfListForStages{

}

.titleOfPointOfListForStages{

}

.textOfPointOfListForStages{

}

.pointOfListForStages{
    
}